*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
 html,body{
width: 100%;
height: 100%;
}
nav{
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 2%;
    padding-left: 10%; */
    left: 0%;
    top: 2%;
    padding-left: 10%;
    gap: 25px;
    width: 100%;
    height: 8%;
    font-weight: 600;
}
nav p:hover{
    cursor: pointer;
}
.rightside{
    display: flex;
    padding-left: 20%;
    gap: 25px;
}
.rightside p{
    padding-top: 10px;
}
button{
    padding: 10px;
    font-weight: 600;
    background-color: transparent;
    border: 3px solid purple;
    color: purple;
    border-radius: 5px;
} 
button:hover{
    cursor: pointer;
    border: 4px solid purple;
}
button.start{
    background-color: purple;
    color: white;
}
button.start:hover{
    background-color: rgb(77, 12, 77);

}

.content{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.content h1{
    position: relative;
    font-size: 50px;
    /* padding: 10px; */
}
span{
    color: purple;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.container .buttontt{
    position: relative;
    left: 40%;
    width: 30%;
    height: 10%;
    display: flex;
    align-items: center;
    /* margin-left: 40%;
    padding: 20px; */
    gap: 10px;
} 
.contentline p {
    margin-left: 37%;
    font-size: 25px;
}
.contentimg{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap:30px;
}
.contentimg img{
    flex-shrink: 0;
    object-fit: contain;
}
.contentvid{
    height: max-content;
    width: 100%;
    position: relative;
}
.contentvid video{
    position: relative;
    display: flex;
    padding-top: 2%;
    justify-content: center;
    left: 20%;
    height: 50%;
    width: 60%;
    background-color: white;
}
.absouluteVideo{
    height: 35vh;
    position: absolute;
    bottom: -10%;
    width: 100%;
    background-color: #F4EDE4;
}

#move{
    margin-top: 20px;
    height: 550px;
    width: 100%;
    background-color:#F4EDE4;
    display: flex;
    padding-top: 70px;
}
#move .lft{
    height: 80%;
    width: 50%;
    background-color:#F4EDE4;
    /* background-color: beige; */
    padding-bottom: 30px;

}
.lft video{
    height: 120%;
    margin-left: 15%;
    width: 70%;
}

#move .rgt{
    height: 100%;
    width: 50%;
    background-color:#F4EDE4;
    padding-bottom: 30px;
}
.rgt h1{
    margin-left: 10%;
  font-family: sans;
  font-size: 60px;
  /* line-height: 0.9; */
  margin-top: 30px;
}

.rgt p{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;
}

.rgt h5{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;
}

#con{
    height: 500px;
    width: 100%;
    background-color:#F4EDE4;
    /* background-color: aqua; */
    display: flex;
   padding-top: 50px;

}

#con .left{
    height: 100%;
    width: 40%; 

    background-color:#F4EDE4;
   
    /* background-color: blueviolet; */
}

.left h1{
    margin-top: 30px;
    font-family: sans;
    margin-left: 10%;
  font-size: 50px;
  /* line-height: 0.9; */

}
.left p{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;

}
.left h5{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;

}

#con .right{
    position: relative;
    overflow: hidden;
    height: 80%;
    width: 55%;
    background-color:#F4EDE4;
    /* background-color: chocolate; */
    margin-left: 67px;
}


.right video{

    position: relative;
    height: 93%;
    width: 70%;
    object-fit: cover;
}

#bring{
    height: 550px;
    width: 100%;
    background-color:#F4EDE4;
    /* background-color: chartreuse; */
    display: flex;
    padding-top: 60px;
    padding-bottom: 20px;
}

#bring .left1{
    height: 100%;
    width: 55%;
    background-color:#F4EDE4;
    /* background-color: deeppink; */
}
#bring .left1 video{
margin-left: 15%;
    height: 90%;
    width: 70%;
    /* object-fit: cover; */
}
#bring .right1{
    height: 100%;
    width: 45%;
    background-color:#F4EDE4;
    /* background-color: rgb(248, 26, 26); */
}

.right1 h1{
    margin-left: 10%;
    font-family: sans;
    font-size: 60px;
    /* line-height: 0.9; */
    margin-top: 30px;
}

.right1 p{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;

}

.right1 h5{
    font-size: 20px;
    margin-left: 10%;
    margin-top: 35px;

}
#Teams{
    height: 100%;
    width: 100%;
}
#Teams h1{
    margin-top: 7%;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
#Teams p{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#Teams .btn1{
    margin-top: 25px;
    margin-left: 32%;
    background-color: rgb(80, 4, 80);
    color: white;
    font-size: 15px;
    padding: 20px 30px;
}
#Teams .btn2{
    padding: 20px 50px;
    font-size: 15px;
}
.percent{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.box{
    height: 35vh;
    width: 30%;
    padding: 20px;
}
.box h1{
    font-family: 80px;
    color: rgb(84, 5, 84);
    font-weight: 900;
}
.box p{
    font-size: 10px;
    color: black;
}
#Teams .ytvideo{
    height: 500px;
    width: 100%;
    display: flex;
   padding-top: 50px;
}
.ytvideo video{
    position: relative;
    height: 100%;
    width: 55%;
    object-fit: cover;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
}
#Teams .ytvideo p{
    display: flex;
    justify-content: center;
    margin-left: 8%;
    position: relative;
    font-size: 45px;
}
#Teams h4{  
    position: relative;
    display: flex;
    justify-content: center;
}
.endline{
    margin-left: 61%;
    margin-top: 16%;
}
.endline h4{
    font-weight: 900;
}
.endline p{
    padding-top: 10px;
    font-size: 20px;
}
.endline .link{
    color: blue;
    font-size: 18px;
    margin-top: 15px;
}
.line p{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
#contanier{
    width: 100%;
    height: 100%;
    margin-top: 5%;

    position: relative;
    background-color:#F4EDE4;
    
}
.newway{
    position: relative;
    display: flex;
    justify-content: center;
}
.newway h2{
    position: absolute;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-size: 45px;
    
}

.img-con{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F4EDE4;
   
}
.img-con h5{
    margin-top: 5px;
    margin-left: 10px;
}
.img-con .box1{
    height: 55%;
    width: 20%;
    background-color: white;
    margin-left: 40px;
}

.box1 img{
   margin-left: 20px;
   padding-top: 15px;
}

 .img-con .box1 p{
    font-size: 25px;
    font-weight: 900;
    margin-left: 10px;
    margin-top: 15px;
}
.img-con h3{
    margin-left: 10px;
    margin-top: 27%;
    color: blue;
}
.img-con:hover{
    zoom: 10px;
}


#lastpage{
    width: 100%;
    height: 55%;
    position: absolute;
    background-color: #4A154B;
    border-bottom-left-radius: 50%;  
    border-bottom-right-radius: 50%;
}

#lastpage p{
    margin-left: 20%;
     margin-top: 8%;
    color: white;
    font-size: 50px;
    font-weight: 800;
}
button{
     padding: 16px 25px;
    border-radius: 6px;
    /* margin-left: 30%; */
    font-weight: 700;
}

.btn-white{
    color: #611F69;
    background-color: white;
    border: 2px solid #611F69;
    margin-left: 36%;
    margin-top: 40px;
}
.btn-white:hover{
    border: none;
    box-shadow: none;
}
.btn-purpal{
    background-color: #611F69;
    color: white;
    border: 1px solid white;
}
.btn-purpal:hover{
    border: 2px solid white;
}
.leftside{
    color: black;
    margin-left: 45px;
    font-size: 17px;
    font-weight: 600;
    margin-top: 7%;
}
.leftside:hover{
    color: blue;
    cursor: pointer;
}
#rightside{
    display: flex;
    justify-content: center;
    position: absolute;
}
#rightside p{
    color: black;
    /* margin-right: -20%; */
    font-size: 15px;
    display: flex;
    justify-content: right;
}
#rightside p:hover{
    cursor: pointer;
    color:  blue;

}


.footer{
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 30%;
    
}
#footerbox{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}
.box{
    height: 50vh;
    width: 3%;
    color: white;
    padding: 20px;
}
.box img{
    height: 20%;
}
.box h1{
    font-size: 25px;
    margin-bottom: 30px;
}
.box p{
    font-size: 17px;
}
.copyright{
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 21%;
    font-size: 15px;
    color: black;
    position: absolute;
}